
## <summary>policy for jobecoin</summary>


########################################
## <summary>
##	Transition to jobecoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`jobecoin_domtrans',`
	gen_require(`
		type jobecoin_t, jobecoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, jobecoin_exec_t, jobecoin_t)
')


########################################
## <summary>
##	Execute jobecoin server in the jobecoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`jobecoin_initrc_domtrans',`
	gen_require(`
		type jobecoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, jobecoin_initrc_exec_t)
')


########################################
## <summary>
##	Search jobecoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`jobecoin_search_lib',`
	gen_require(`
		type jobecoin_var_lib_t;
	')

	allow $1 jobecoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read jobecoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`jobecoin_read_lib_files',`
	gen_require(`
		type jobecoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, jobecoin_var_lib_t, jobecoin_var_lib_t)
')

########################################
## <summary>
##	Manage jobecoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`jobecoin_manage_lib_files',`
	gen_require(`
		type jobecoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, jobecoin_var_lib_t, jobecoin_var_lib_t)
')

########################################
## <summary>
##	Manage jobecoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`jobecoin_manage_lib_dirs',`
	gen_require(`
		type jobecoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, jobecoin_var_lib_t, jobecoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a jobecoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`jobecoin_admin',`
	gen_require(`
		type jobecoin_t;
		type jobecoin_initrc_exec_t;
		type jobecoin_var_lib_t;
	')

	allow $1 jobecoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, jobecoin_t)

	jobecoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 jobecoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, jobecoin_var_lib_t)

')

